:host { display:block; padding:1rem 0; }
header { background: transparent; border: 0; }
nav ul li a { color: #e6eef8; padding: 0.5rem 0.8rem; display:inline-block }
nav ul li a:hover { color: var(--accent-2); }
.logo a { font-size:1.05rem; }
