
body {
  margin: 0;
  color: #121212;
  font-family: Arial, sans-serif;
  background-color: #121212; 
  color: white; 
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e; 
  min-height: 100vh; 
}

.header {
  padding: 1rem;

  .navbar {
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-around; 
      margin: 0;

      li {
        a {
          text-decoration: none; 
          
          &:hover {
            text-decoration: underline; 
          }
        }
      }
    }
  }
}

main {
  flex: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
  color: #007bff;
  padding: 1rem;
}
